{{ use('yii/widgets/ActiveForm') }}

 <div class="row">
        <div class="col-lg-6 col-lg-offset-6">
            <div class="panel panel-default">
                        <img src="https://en.intouchgroup.net/wp-content/uploads/2018/04/LOGO-TOUCH-PAY-1.png" alt="" width="70" height="70">
                <div class="panel-body">
                  {% set form = active_form_begin({
                    'id': 'pay_invoice-form',
                    'options': {
                      'class': 'form-horizontal',
                    }
                  }) %}

                    <h4>Pay invoice #{{ model.getInvoiceNumber() }}</h4>
                    <br>
                    <ul class="list-unstyled">
                        <li>
                            Invoice total: {{ model.getInvoiceAmount() }}
                        </li>
                    </ul>

                    <div class="row">
                        <div class="col-sm-6">
                            {{ form.field(model, 'status') | raw }}
                        </div>
                    </div>                  
                    <br>
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="col-sm-12">
                              {{ Html.submitButton(
                                  'Pay', {
                                      'class': 'btn btn-info'
                                  }) | raw }}
                          </div>
                      </div>
                  </div>
                </div>
                {{ active_form_end() }}
            </div>

        </div>
    </div>
</div>



